<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MODULE_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(MODULE_VERSION)</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>athn</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zxystd.itlwm</string>
			<key>IOClass</key>
			<string>itlwm</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IOPCIMatch</key>
			<string>0x002b168c</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>ItlNetworkUserClient</string>
			<key>WiFiConfig</key>
			<dict>
				<key>WiFi_1</key>
				<dict>
					<key>password</key>
					<string>zxyssdt112233</string>
					<key>ssid</key>
					<string>ssdt</string>
				</dict>
				<key>WiFi_2</key>
				<dict>
					<key>password</key>
					<string>zxyssdt112233</string>
					<key>ssid</key>
					<string>ssdt_5G</string>
				</dict>
				<key>WiFi_3</key>
				<dict>
					<key>password</key>
					<string></string>
					<key>ssid</key>
					<string>Redmi</string>
				</dict>
				<key>WiFi_4</key>
				<dict>
					<key>password</key>
					<string>9utc5c5f</string>
					<key>ssid</key>
					<string>CMCC-KtG6</string>
				</dict>
			</dict>
		</dict>
		<key>itlwm</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zxystd.itlwm</string>
			<key>IOClass</key>
			<string>itlwm</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x00008086&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>ItlNetworkUserClient</string>
			<key>WiFiConfig</key>
			<dict>
				<key>WiFi_1</key>
				<dict>
					<key>password</key>
					<string>zxyssdt112233</string>
					<key>ssid</key>
					<string>ssdt</string>
				</dict>
				<key>WiFi_2</key>
				<dict>
					<key>password</key>
					<string>zxyssdt112233</string>
					<key>ssid</key>
					<string>ssdt_5G</string>
				</dict>
				<key>WiFi_3</key>
				<dict>
					<key>password</key>
					<string></string>
					<key>ssid</key>
					<string>Redmi</string>
				</dict>
				<key>WiFi_4</key>
				<dict>
					<key>password</key>
					<string>9utc5c5f</string>
					<key>ssid</key>
					<string>CMCC-KtG6</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 钟先耀. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.7</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
