name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-10.15

    steps:
    - uses: actions/checkout@v2
    - name: build
      run: |
        xcodebuild
        xcodebuild -alltargets -sdk macosx10.15
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        path:
          ./build